@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Changa+One:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Thin', cursive;
    overflow-x: clip;
}

#header{
    background-color: #ffe900;
    height: 80px;
    position: relative;
}
#header>*{
    position: absolute;
    top:50%;
    transform: translate(-50%,-50%);
    margin: 0 -200px 0 50px;
}

#logo{
    width: 80px;
}

#title{
    margin-left: 250px;
}

#dev_buttons{
    margin-left: 1400px;
}

#dev_buttons a img {
    width: 70px;
    border-shape: circle();
}

#presentation{
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

#projects{
    background-color: #ffefa1;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
}

#projects>*{
    margin-left: 300px;
    margin-right: 300px;
}

.project{
    background-color: #ffe900;
    border-radius: 20px;
}

.project_category_title{
    margin: 25px 25px 25px 25px;
}

.project_image{
    height: 280px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
}

#projects a{
    text-decoration: none;
}

.project_title{
    color: black;
    margin-top: 25px;
    text-align: center;
}

.project_description{
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.project_completion{
    color: black;
    text-align: right;
    margin-right: 10px;
}

#screenshots{
    background-color: #ffefa1;
    margin-left: 150px;
    margin-right: 150px;
    position: relative;
    border-radius: 20px;
}

#screenshots h3{
    left: 50%;
    position: relative;
    transform: translateX(-80px);
    margin-top: 50px;
    top: 25px;
}

.screenshot{
    height: 500px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    border-radius: 20px;
}

.profile_picture{
    width: 200px;
    border-radius: 20px;
    position:relative;
    left: 850px;
    top: 50px;
}

#member_title,
#member_description{
    position: relative;
    top: -230px;
    margin-right: 200px;
}